:root {
  --main-font-color: #000;
  --main-bg-color: #ddd;
  --main-bg-border: #000;
  --main-btn-color: #ddd;
}

body.dark-mode {
  --main-font-color: #eeeeee;
  --main-bg-color: #111;
  --main-bg-border: #ddd;
  --main-btn-color: #111;
}