/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Holtwood+One+SC&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  min-height: 100vh;
  transition: background 100ms ease;
}

html {
  scroll-behavior: smooth;
}

.header {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: var(--main-bg-border);
}

h1, h2, h3 {
  font-family: "Holtwood One SC", serif;
  color: var(--main-font-color);
}

.name {
  font-family: "Holtwood One SC", serif;
  color: var(--main-font-color);
}

.name span {
  display: inline-block;
  visibility: hidden;
  color: var(--main-font-color);
  font-size: 5rem;
  animation: up 1.5s ease-out forwards, shine 850ms ease infinite;
  visibility: hidden;
  transition: 300ms ease;
  z-index: 2;
}

.name span:nth-child(2) {
  animation-delay: 0.1s;
}

.name span:nth-child(3) {
  animation-delay: 0.25s;
}

.name span:nth-child(4) {
  transform: translateY(30px);
  animation-delay: 0.35s;
}

.name span:nth-child(5) {
  animation-delay: 0.25s;
}

.name span:nth-child(6) {
  animation-delay: 0.1s;
}

#modeBtn {
  cursor: pointer;
  background: var(--main-btn-color);
  color: var(--main-font-color);
  position: fixed;
  bottom: 0%;
  right: 0%;
  margin: 0.5rem;
  padding: 1rem;
  border: 3px solid;
  border-radius: 24px;
  box-shadow: 3px 3px 0 var(--main-bg-border);
  transition: 100ms ease;
}

#modeBtn:hover {
  transform: translateY(1.5px) translateX(1.5px);
  box-shadow: 2px 2px var(--main-bg-border);
}

#modeBtn:active {
  transform: translateY(2.5px) translateX(2.5px);
  box-shadow: 1px 1px var(--main-bg-border);
}

/* MAIN */

.about-me {
  padding: 1rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.g1 {
  font-size: 1.85rem;
  text-align: center;
}

.group1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ball {
  background: var(--anim-color);
  width: 50%;
  height: 50%;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  filter: blur(100px);
  opacity: 0.35;
  animation: shine2 850ms ease infinite;
  animation-delay: 0.35s;
}

.color-button {
  background: var(--anim-color);
}

.group2 {
  display: grid;
}

a,
button {
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  background: var(--main-btn-color);
  color: var(--main-font-color);
  margin: 0.5rem;
  padding: 1rem 2.5rem;
  border: 3px solid;
  border-radius: 24px;
  box-shadow: 3px 3px 0 var(--main-bg-border);
  transition: 100ms ease;
  cursor: pointer;
}

a:hover,
button:hover {
  transform: translateY(1.5px) translateX(1.5px);
  box-shadow: 2px 2px var(--main-bg-border);
}

a:active,
button:active {
  transform: translateY(2.5px) translateX(2.5px);
  box-shadow: 1px 1px var(--main-bg-border);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.about-title {
  font-size: 2.25rem;
}

/* who am i? */

.color {
  display: inline-block;
  color: var(--anim-color);
  font-weight: bold;
  text-decoration: underline;
  transition: 400ms ease;
}

.about {
  color: var(--main-font-color);
  font-size: 1.15rem;
  text-align: justify;
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  max-width: 550px;
  line-height: 2rem;
}

.about-group {
  border-radius: 56px 24px 24px 56px;
  border: 3px solid transparent;
  border-color: var(--anim-color);
  box-shadow: 5px 5px 0 var(--anim-color);
  padding: 1rem;
}

/* ANIMATIONS */
@keyframes up {
  0% {opacity: 0; transform: scale(2) translateY(-150px);}
  100% {visibility: visible; transform: translateY(0);}
}

@keyframes shine {
  0%, 100% {color: var(--main-font-color);}
  50% {color: var(--anim-color);}
}

@keyframes shine2 {
  0%, 100% {background: transparent;}
  50% {background: var(--anim-color);}
}

/* Responsive */

@media (max-width: 650px) {
  .about-container {
    padding: 1rem;
  }
}

@media (max-width: 425px) {
  .about-me {
    padding-top: 2rem;
  }
  #modeBtn {
    padding: 0.75rem 0.75rem;
    font-size: 0.1rem;
  }
  .name {
    font-size: 1.45rem;
  }
  .name span {
    font-size: 3.5rem;
  }
  .about {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.35rem;
  }
  .about-title {
    font-size: 1.85rem;
    text-align: center;
  }
  .about-group {
    padding: 0.5rem;
    border-radius: 24px 12px;
  }
}

@media (max-width: 320px) {
  .name span {
    font-size: 1.5rem;
  }
}

@media (max-width: 250px) {
  a, button {
    padding: 0.5rem 1rem;
  }
  .about {
    font-size: 1rem;
    word-break: break-all;
  }
  .about-group {
    padding: 0;
    width: 90%;
  }
  .g1 {
    font-size: 1rem;
  }
  .g1 span {
    font-size: 1.25rem;
  }
}